<!DOCTYPE html>
<html>

<head>

	<link rel="stylesheet" type="text/css" href="resources/css/js1.css">	

	<meta charset="UTF-8">
	<title>Cadastro de produto</title>
</head>

<body>


<script src="resource/js/vue.js"></script>
<script src="resource/js/axios.min.js"></script>

		<form id="formulario">  <!-- id soma -->
			<label>Produto</label>
			<input type="text" name="produto" id="produto" v-model="produto"><br><br>
			<label>marca</label>
			<input type="text" name="marca" id="marca" v-model="marca"><br><br>      
			<button type="button" class="btn btn-primary btn-lg" @click="pega()">Salvar</button>	
		</form>
		
<script>



let vm = new Vue({
	el: '#formulario',
	methods: {
		pega: function(){
			const vm = this;
			let obj = {
				produto: vm.produto,
 				marca: vm.marca,
 				valor: vm.valor
 			}
			axios.post('rs/product/insert',obj).then(function (response) {
				//vm.hello = response.data;
				//console.log(response);
				alert("Produto cadastrado com sucesso!");
				
				
			});
		} 
	}
});

</script>



</body>


</html> 