<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" http-equiv="refresh">
<title>Sistema de mercados</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap_4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap_4/modelo.css">
<link rel="stylesheet" type="text/css"
	href="resources/fontawesome-free-5.3.1-web/css/all.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/header_generico.css">
</head>
<body>
	<!-- Header genérico -->
	<nav id="header_sistemas"
		class="navbar fixed-top navbar-light bg-light shadow-sm p-3 mb-5 align-items-start">
		<!-- logo do sistema   -->
		<div class="navbar-brand">
			<img id="logo_listemas" alt="" src="resources/img/headerIcon.svg" />
			<h1 class="navbar-text">Sistema de Preços</h1>
		</div>
		<!-- /logo do sistema   -->
		
		<!-- menu do sistema   -->
		<div id="menu_sistema"
			class="navbar navbar-expand-lg navbar-light bg-light col">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse  nav-pills" id="navbarNav">
				<!-- 			  my-2 my-md-0 mr-md-3 -->
				
			</div>
		</div>
		<!-- /menu do sistema   -->
		
		<!-- Menu Usuário  -->
		<ul id="menu_user" class="nav nav-pills float-right">
			<img id="busca" @click="buscar()" style="vertical-align: middle; border-style: none; height: 35px;" href="../busca.html" src="resources/img/iconsearch.png" />
		</ul>
		<!-- /Menu Usuário  -->
		
	
		<!-- Logo Hepta  -->
		<div id="logo_hepta" class="navbar-brand">
			<img alt="" src="resources/img/logo_hepta-sistemas.png"
				style="vertical-align: middle; border-style: none; height: 50px;">
		</div>
		<!-- /Logo Hepta  -->
	</nav>
	<!-- Fim Header genérico -->
	<div class="loader" id="loader-primario">
		<span></span> <span></span> <span></span> <span></span>
	</div>
	<div class="loaderFocus" id="loader-primario-focus"></div>
	<div class="container-fluid ">
		<div id="wrapper" class=" shadow-sm">
			<div class="container">
				<h2 class="display-8">Login</h2>
			</div>
			<div class="row">
				<div class="col">
					<!-- opções de campo para formulários -->
					<form id="formulario">
						<div class="card">
							<div class="card-body">
								<div class="form-group">
									<label for="exampleFormControlInput1">Email</label> <input
										type="email" class="form-control"
										id="email" name="email" placeholder="name@example.com" v-model="email">
								</div>
								<div class="form-group">
									<label for="exampleFormControlInput1">Senha</label> <input
										type="password" class="form-control" v-model="senha" id="exampleFormControlInput1"
										placeholder="***********">
								</div>
								<div class="card-body">
									<button type="button" class="btn btn-sm btn-primary" style="width:120px;height:30px;" @click="logar()" >Logar</button>
									<button type="button" class="btn btn-link" onclick="window.location.href='cadastroUsuario.html';" >Cadastrar</button>
								</div>
									<div class="alert alert-danger" role="alert" id="msg" style="display:none;"></div>
							</div>
							<hr />	
						</div>
					
					</form>
					<!-- opções de campo para formulários -->
					<hr />
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="footerSpacing"></div>
		<div class="footer" id="footer">
			<span> Criado por: Hepta Tecnologia - {{versao}} </span>
		</div>
	</footer>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/vue.js"></script>
	<script src="resources/js/header.js"></script>
	<script src="resources/js/loader.js"></script>
	<script src="resources/js/paginas/gpc/cargo.js"></script>
	<script src="resources/js/footer.js"></script>
	<script src="resources/js/jquery-3.3.1.min.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="resources/js/ie10-viewport-bug-workaround.js"></script>
	
	<script>
		let vm = new Vue({
			el : '#formulario',
			methods : {
				logar : function() {
					const vm = this;
					let obj = {
						email : vm.email,
						senha : vm.senha
 					}
					
					axios.post('rs/user/login', obj).then(function(response) {
						console.log(response);
						sessionStorage.setItem('isLogado', true);	
						alert("Login realizado com sucesso!");
						window.location.href = "pages/listaProduto.html";
					}).catch(function (error){
						document.getElementById("msg").style.display = 'block';
						document.getElementById("msg").innerHTML = "Usuário não encontrado!";
						sessionStorage.setItem('isLogado', false);
                    });
				}
			}
		});
		
	    let  pesquisa = new Vue({
	    	el: '#busca',
	    	methods:{
	    		buscar: function(produtos){
	    			window.location.href = "busca.html";
	    		}
	    	}
	    });
	</script>
	
	
</body>
</html>

